
<div style="
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    ">
  <center>
    <h2>
      About
    <h2>
  <center>

  <h5>
    <span>
      HELLO.....
      <br>HELLO.....Can you hear me....
      <br>HELLO.....Can you hear me now.....
      <br>HELLO.....from the OUTSIDE?
      <br>No, I'm from the OTHERSIDE.....haha
      <br>HELLO.....I've TRIED
    <span>
    <p>
      Dosen't take you appart anYMOre?.....Try our Products.
      <br>
      We heared.....It tore us apart.....We answered.....WE changed
    </p>
    <a>
      <%= link_to 'OTHERSIDE', :root %>
    <a>
  <h5>
</div>



